<% # contained by div col-md-3 %>
<div class="reishitea-sidebar">
  <div class="well well-sm text-center">
    <p>Want to order? <strong><%= link_to 'Click here!', :orders_new %></strong></p>
    <p><small>HTTPS coming soon (we hope)!</small></p>
  </div>
  <div class="well well-sm text-center">
    <p>
      <img src="http://lorempixel.com/320/214/nature" class="img-responsive center-block" />
    </p>    
  </div>
  <div class="well well-sm text-center"> 
    <% if !@sidebar_comments.empty? %>
      <p>Top Customer Comments</p>
      <div class="list-group">
      <% @sidebar_comments.each_with_index do |comment, index| %>
        <% if index == 0 
          contclass = 'list-group-item active ligreen'
        else
          contclass = 'list-group-item'
        end %>
        <div class="<%= contclass %>">
          <h4 class="list-group-item-heading"><%= comment.order.name %>, <%= comment.order.country %></h4>
          <p class="list-group-item-text"><%= truncate comment.body, length: 60 %></p>
        </div>
      <% end %>
      </div>
    <% else %>
      <p>Enter a comment with this order form to see latest comments here!</p>
    <% end %>
  </div>
</div>