<!-- main content -->
<div class="col-md-8">

  <% if flash[:notice] %>
    <div class="row">
      <div class="notice order-flash-notice">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="lead">
      <h1>Reishi Tea Orders</h1>
      <small><%= link_to 'Click here', :orders_new %> to jump on this bountiful beverage bandwagon.</small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 recent-orders-container">
      <div class="lead">
        <big>Recent Orders</big>
      </div>
      <div class='recent-orders'>
      <% if @recent_orders %>
        <% @recent_orders.each do |recent_order| %>
          <div class="recent-order list-group">
            <p class="list-group-item list-group-item-success">
              Name: <%= recent_order.name %>
            </p>
            <p class="list-group-item">
              City: <%= recent_order.city %>
            </p>
            <p class="list-group-item">
              Country: <%= recent_order.country %>
            </p>
            <p class="list-group-item">
              Quantity: <%= recent_order.quantity %>
            </p>
          </div>
          <hr />
        <% end %>
      <% else %>
        <div>
          <p>No orders yet.</p>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-md-3 recent-sold-container">
      <big>Reishi Teas Sold</big>
      <div class='recent-units-sold'>
        Today: <span class="badge"><%= @today_order_count %></span>
      </div>
      <hr />
      <div class='alltime-units-sold'>
        All Time: <span class="badge"><%= @alltime_order_count %></span>
      </div>
    </div>
    <div class="col-md-3 recent-shipped-container">
      <big>Reishi Teas Shipped</big>
      <div class="recent-units-shipped">
        Today: <span class="badge"><%= @today_shipped_count %></span>
      </div>
      <hr />
      <div class="alltime-units-shipped">
        All Time: <span class="badge"><%= @alltime_shipped_count %></span>
      </div>
    </div>
  </div>

</div>

<!-- separation -->
<div class="col-md-1">
</div>

<!-- sidebar -->
<div class="col-md-3">
  <%= render 'partials/sidebar' %>
</div>