<!DOCTYPE html>
<html>
<head>
  <title>The World's Best Reishi Tea</title>
  <meta name="description" content="A Demo Rails 4 Application">
  <meta name="author" content="Todd Morningstar">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/header' %>
  <div id="content-container" class="container">
    <%= yield %>
  </div>
  <div class="voffset20"></div>
   <%= render 'partials/footer' %>
</body>
</html>
