<!DOCTYPE html>
<html>
<head>
  <title>The World's Best Reishi Tea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse">
    <div class="container">
      <nav>
        <div class="navbar-header">
          <%=
            link_to image_tag(
              'http://lorempixel.com/103/64/nature/',
              class: 'img-responsive',
              alt: 'Reishi Tea!',
              title: 'The World\'s Best Reishi Tea!'
            ), :root, id: 'logo'
          %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",         :root %></li>
          <li><%= link_to "About",        '/about' %></li>
          <li><%= link_to "Reishi Info",  '/reishi-information' %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
